<ul>
    <button data-id="{{this.id}}" class="change-devour" data-newdevour="{{devour}}">
        {{#if devour}}
            Devour
            {{else}}
            Remake!
        {{/if}}
    </button>
    <button data-id="{{this.id}}" class="delete">Delete</button><br>

</ul>